@page
@model SecureSoftwareGroupProject.Pages.PrivacyModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@{
    ViewData["Title"] = "Privacy";
}
<h1>Privacy</h1>
<p>Use this page to detail your site's privacy policy.</p>

<a class="btn btn-secondary mt-3" asp-page="/Index">Finish</a>
